{namespace HelloWorld}

/**
 * This renders the main element.
 * @param? elementClasses
 * @param? person
 */
{template .render}
	<div class="helloWorld{$elementClasses ? ' ' + $elementClasses : ''}">
    <p>Hello {$person or ''}</p>
	</div>
{/template}
